* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bge {
    background: rgb(5, 180, 72);
}

.erop p {
    font-size: 50px;
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}